<!-- Footer -->
<footer class="page-footer font-small black">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://codemonk.ai"><span>Milad Momeni |</span> CodeMonk</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->