{% load i18n %}


<div class="page header">
  <div class="ui container">
    <div class="ui right floated icon text menu">
      <div class="item">
          <a class="spf-link" href="{% url 'apt-data-form' %}"><b>{% trans "Home" %}</b></a>
        </div>
        <div class="item">
          <a class="spf-link" href="{% url 'details' %}"><b>{% trans "Detail" %}</b></a>
        </div>
    </div>

    <div class="ui text menu">
      <a class="icon item spf-link" href="">
        <i class="big emphasized stack overflow circle icon"></i>
        {% include 'partials/brand.html' %}
      </a>
      
      </div>
    </div>
  </div>
</div>
